

body{
	font-size: 20px;
	font-family: Georgia;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #e8e8e8;
}
h1{
  font-weight: 100;
  margin: 0px;
  padding: 20px;
  
 
  
}
.question{
  font-size: 18px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: Georgia;
	font-size: 22px;
	background-color:#d6d6d6;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: #38a;
}

/*NAV*/

.fixed-nav .content {
  transform: scale(1);
}



header {
  text-align: center;
  height:50vh;
  background-color: #7b8055;
  background-image: url(../img/computer.gif);
background: cover;
  display:flex;
  align-items:center;
  justify-content: center;
}

h1 {
  color:white;

  text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

nav {
  background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1)
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all .5s;
  font-weight: 600;
  font-size: 30px;
}

.fixed-nav li.logo {
  max-width:500px;
}

li.logo a {
  color:black;
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
}




.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.content {
  padding: 40px;
  background-color: white;
}

html {
  box-sizing: border-box;
  background: #6d6d6d;
  font-family:'Georgia';
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  max-width: 700px;
  margin: 60px auto;
  background:white;
  padding:70px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}
